<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\QuoteGraphQl\Model\Resolver\PlaceOrder">
        <plugin name="PlaceOrderResolverPortmone"
                type="CodeCustom\Portmone\Plugin\Resolver\PlaceOrder"
                sortOrder="16"
                disabled="false"/>
    </type>
    <preference for="CodeCustom\Portmone\Api\Response\SuccessInterface"
                type="CodeCustom\Portmone\Model\Response\Success"/>
    <preference for="CodeCustom\Portmone\Api\Response\FailureInterface"
                type="CodeCustom\Portmone\Model\Response\Failure"/>

    <type name="Magento\Framework\Webapi\Rest\Request\DeserializerFactory">
        <arguments>
            <argument name="deserializers" xsi:type="array">
                <item name="application_url_encoded" xsi:type="array">
                    <item name="type" xsi:type="string">application/x-www-form-urlencoded</item>
                    <item name="model" xsi:type="string">CodeCustom\Portmone\Webapi\Rest\Request\UrlEncoded</item>
                </item>
                <item name="application_json" xsi:type="array">
                    <item name="type" xsi:type="string">application/json</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Json</item>
                </item>
                <item name="application_xml" xsi:type="array">
                    <item name="type" xsi:type="string">application/xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
                <item name="application_xhtml_xml" xsi:type="array">
                    <item name="type" xsi:type="string">application/xhtml+xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
                <item name="text_xml" xsi:type="array">
                    <item name="type" xsi:type="string">text/xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Stdlib\CookieManagerInterface">
        <plugin name="switch_samesite"
                type="CodeCustom\Portmone\Plugin\SwitchSameSite"
                sortOrder="10"/>
    </type>
</config>
